# Binaries
bin/
dist/
*.exe
*.dll
*.so
*.dylib

# Go
# Ignore all nested go.sum files but keep the root one tracked
**/go.sum
!go.sum
**/.idea/
**/.vscode/
**/.DS_Store
**/.env
coverage.out

# Node (if/when web gets added)
node_modules/
.parcel-cache/
dist/
.next/
out/
cmd/worker/worker
cmd/api/api
