{{define "ticket_created_subject"}}Ticket {{.Number}} created{{end}}
{{define "ticket_created_body"}}Ticket {{.Number}} was created.{{end}}
{{define "ticket_updated_subject"}}Ticket {{.Number}} updated{{end}}
{{define "ticket_updated_body"}}Ticket {{.Number}} was updated.{{end}}

