{{ define "ticket_created_subject" }}[{{ .Number }}] Ticket created{{ end }}
{{ define "ticket_created_body" }}
Hello,

Your ticket {{ .Number }} has been created.

Thanks,
Helpdesk
{{ end }}

{{ define "ticket_updated_subject" }}[{{ .Number }}] Ticket updated{{ end }}
{{ define "ticket_updated_body" }}
Hello,

Your ticket {{ .Number }} has been updated.

Thanks,
Helpdesk
{{ end }}

{{ define "ticket_resolved_subject" }}[{{ .Number }}] Ticket resolved{{ end }}
{{ define "ticket_resolved_body" }}
Hello,

Your ticket {{ .Number }} has been resolved.
Please rate our support:

{{ .CSATURL }}

Thanks,
Helpdesk
{{ end }}
